@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


hmtl { font-size: 62.5%;}


html {
  // Extra small devices (portrait phones)
  @media (max-width: 575.98px) {
    font-size: 55%;
  }
  // Small devices (landscape phones)
  @media (min-width: 576px) and (max-width: 767.98px) {
    font-size: 58%;
  }
  // Medium devices (tablets)
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 60%;
  }
  // Large devices (desktops)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    font-size: 62.5%;
  }
  // Extra large devices (large desktops)
  @media (min-width: 1200px) {
    font-size: 62.5%;
  }
}
